##This serves as the global study configuration file.
##If different values are desired for a particular study
##they can be specified in associated configuration files.

simulations = 30

#the delta that considers 3 neighbouring fitness values equal/neutral
epsilon = 1E-8

##sampling
stepCount = 250
stepRatio = 0.02

##tunable parameters
#steps are accurate to 3 decimal places
minQ = 0.05
numQ = 200
stepQ = 0.05

#N-d parameters
minDim = 1
numDim = 30
stepDim = 1

#tunable step size
#stepCount is calculated such that the space is traversed 5 times on average
minS = 0.005
numS = 6
stepS = 0.005
avgNumTraversals = 5

#todo: add stacking plate parameters here as well
