##This serves as the global study configuration file.
##If different values are desired for a particular study
##they can be specified in associated configuration files.

simulations = 30


##the delta that considers 3 neighbouring fitness values equal/neutral

epsilon = 1E-8

##sampling

stepCount = 200
stepRatio = 0.02


##tunable parameters
##steps are accurate to 3 decimal places
#Quantum

minQ = 0.05
numQ = 200
stepQ = 0.05


#Step size
#stepCount is calculated such that the space is traversed 2.5 times on average

minS = 0.005
numS = 6
stepS = 0.005
avgNumTraversals = 2.5
