simulations = 2

#the delta that considers 3 fitness values equal/neutral
epsilon = 0.02

#sampling
stepCount = 10000
stepRatio = 0.1

#tunable parameters
minPar = 0.2
maxPar = 10
stepPar = 0.2

#add the name of the parameter as config perhaps (e.g. q or whatever the par may be). Can't do this now because the map is limited to storing double values
